
# Archivos de trabajo que no necesitan seguimiento dentro de Github

/chi_values_t2.csv
/chi_values_t3.csv
/df_borrar_v1.csv
/df_importance.csv
/dt_pba_borrar_v1.csv
/dt_pba_borrar_v2.csv
/feature_correlation.csv
/group_siglades_des_i.csv
/group_vlo_i_vlo_o.csv
/solution - Prueba.ipynb
/notas.md
/Matriz de Confusión Aerolinea Chile.xls
/Challenge_Data_Scientist.pdf

